<div class="main">
    <div class="contianer">
        <div class="header">
            <div class="header-box">
                <div class="logo">
                    <img src="../../assets/download.png" alt="">
                </div>
                <div class="menu">
                    <a href="">Home</a>
                    <a href="">Products</a>
                    <a href="">Contact</a>
                    <a href="">About</a>
                </div>

                <div class="search">
                    <input type="text">
                    <div class="icon">
                        <span class="material-symbols-outlined">
                            search
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-left">
        <div class="menu-box">
            <div class="banner">
                <img src="../../assets/banner.jpg" alt="">
            </div>
            <div class="menu-letter">
                <a href="">letter A</a>
                <a href="">letter A</a>
                <a href="">letter A</a>
                <a href="">letter A</a>
            </div>
        </div>
    </div>
</div>