<div class="main">
    <div class="header">
        <div class="header-box">
            <div class="logo">
                <img src="../../assets/Xiaomi_logo.svg.png" alt="">
                <p>Boy store</p>
            </div>
            <div class="menu">
                <a href="">Home</a>
                <a href="">Products</a>
                <a href="">Contact</a>
                <a href="">About</a>
            </div>

            <div class="search">
                <input type="text">
                <div class="icon">
                    <span class="material-symbols-outlined">
                        search
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>