<div class="main">
    <div class="footer">
        <div class="footer-box">
            <!-- <div class="aboutus">
                <p>About us</p>
            </div>
            <div class="service">
                <p>Service</p>
            </div>
            <div class="partner">
                <p>Partner</p>
            </div>
            <div class="followus">
                <p>Follow Us</p>
            </div> -->

            <div class="footer-pad">
                <ul>
                    <h4>About Us</h4>
                    <li>Payment Center</li>
                    <li>Contack Directory</li>
                    <li>Forms</li>
                </ul>
            </div>

            <div class="footer-pad">
                <ul>
                    <h4>Service</h4>
                    <li>Payment Center</li>
                    <li>Contack Directory</li>
                    <li>Forms</li>
                </ul>
            </div>

            <div class="footer-pad">
                <ul>
                    <h4>Partner</h4>
                    <li>Payment Center</li>
                    <li>Contack Directory</li>
                    <li>Forms</li>
                </ul>
            </div>

            <div class="footer-pad">
                <ul>
                    <h4>Follow Us</h4>
                    <span>
                        <img src="../../assets/download (1).png" alt="">
                        <img src="../../assets/Facebook-logo.png" alt="">
                    </span>
                    <li>Tel:020 28887228</li>
                    <li>Email:Boytest@gmail.com</li>
                </ul>
            </div>

        </div>
        <hr style="">
        <div class="coppy">
            <a href="">
                Copyright © 2020 Olaa.la. All rights Reserved. Design by Olaa Group.
            </a>
        </div>
    </div>
</div>