<div class="main">
    <div class="body">
        <div class="header">
            <a href="">Add new product</a>
            <button><span class="material-symbols-outlined">
                    save
                </span> Save</button>
        </div>

        <div class="detail">
            <div class="group1">
                <div class="upload">
                    <div class="image">
                        <label for="">
                            <div class="uploadicon">
                                <span class="material-symbols-outlined">
                                    file_download
                                </span>
                                <p>Choose files</p>
                            </div>
                        </label>
                    </div>

                    <div class="gridbox">
                        <p>Parent ID</p>
                        <div class="icon">
                            <span class="material-symbols-outlined ">
                                edit
                            </span>
                            <input type="text" name="" id="">
                        </div>
                    </div>
                </div>


                <div class="gridbox">
                    <p>Category</p>
                    <div class="icon">
                        <input type="text" name="" id="">
                        <span class="material-symbols-outlined ">
                            edit
                        </span>
                    </div>
                </div>
                <div class="gridbox">
                    <p>Vendor</p>
                    <div class="icon">
                        <input type="text" name="" id="">
                        <span class="material-symbols-outlined ">
                            edit
                        </span>
                    </div>
                </div>
                <div class="gridbox">
                    <p>Product Name</p>
                    <div class="icon">
                        <input type="text" name="" id="">
                        <span class="material-symbols-outlined ">
                            edit
                        </span>
                    </div>
                </div>
                <div class="gridbox">
                    <p>Product Nameber</p>
                    <div class="icon">
                        <input type="text" name="" id="">
                    </div>
                </div>
                <div class="gridbox">
                    <p>Product Type</p>
                    <div class="icon">
                        <input type="text" name="" id="">
                    </div>
                </div>
                <div class="gridbox">
                    <p>Brand Name</p>
                    <div class="icon">
                        <input type="text" name="" id="">
                        <span class="material-symbols-outlined ">
                            edit
                        </span>
                    </div>
                </div>
                <div class="gridbox keywords">
                    <p>Keywords</p>
                    <div class="icon">
                        <input type="text" name="" id="">
                    </div>
                </div>
            </div>



            <fieldset>
                <legend>
                    <h3>Variant</h3>
                </legend>
                <div class="group2">
                    <div class="gridbox">
                        <p>Version</p>
                        <div class="icon">
                            <input type="text" name="" id="">
                            <span class="material-symbols-outlined ">
                                edit
                            </span>
                        </div>
                    </div>

                    <div class="gridbox">
                        <p>Size</p>
                        <div class="icon">
                            <input type="text" name="" id="">
                            <span class="material-symbols-outlined ">
                                edit
                            </span>
                        </div>
                    </div>

                    <div class="gridbox">
                        <p>Color</p>
                        <div class="icon">
                            <input type="text" name="" id="">
                            <span class="material-symbols-outlined ">
                                edit
                            </span>
                        </div>
                    </div>
                </div>

                <div class="contenturl">
                    <p>Content URL</p>
                    <div class="url">
                        <input type="text" name="" id="">
                    </div>
                </div>
            </fieldset>


        </div>
    </div>
</div>