<!-- <div class="main">
    <div class="body" *ngFor="let item of items">
        <div class="item">
            <p>{{item.id}}</p>
            <img src="{{item.img}}" alt="">
            <p>{{item.name}}</p>
        </div>
        <button (click)="DelFun(item.id)">Delete</button>
        <button (click)="Edit(item.id)">Edit</button>
    </div>
    <img src="" alt="">
    <div class="form">
        <p>Add >>></p>
        <div class="input">
            <input type="text" placeholder="name" [(ngModel)]="addmodel.name">
            <input type="file" placeholder="img" [(ngModel)]="addmodel.img">
        </div>
        <button (click)="saveFun()">Add</button>
        <button (click)="saveedit()">SaveEdit</button>
    </div>
</div> -->

<router-outlet></router-outlet>