<div class="main">
    <div class="product">

        <div class="product-box">

            <div class="product-img">
                <img src="../../../../assets/MR2975__01.jpg" alt="">
            </div>

            <div class="img-dropdow">
                <div class="product-detail-img-box">
                    <img src="../../../../assets/download (1).png" alt="">
                </div>
                <div class="product-detail-img-box">
                    <img src="../../../../assets/download (1).png" alt="">
                </div>
                <div class="product-detail-img-box">
                    <img src="../../../../assets/download (1).png" alt="">
                </div>
                <div class="product-detail-img-box">
                    <img src="../../../../assets/download (1).png" alt="">
                </div>

            </div>
        </div>

        <div class="product-spec">
            <div class="product-info">
                <h3>Mark Ryden Backpack</h3>
            </div>

        </div>
    </div>